In [1]:
2**6

64

In [2]:
print(2**6)

64

'문자열1'.join(['문자열2', '문자열3'])
-문자열 2와 문자열 3을 문자열 1을 구분자로 해서 합친다.

'문자열1'.split('문자열2')
-문자열 1을 문자열 2 구분자를 기준으로 해서 나눈다.
-결과물은 항상 리스트로 나온다

'문자열1'.strip('문자열2')
-문자열 1의 좌우에 문자열 2와 동일한 문자열을 삭제한다.

'문자열1'.lstrip('문자열2')
-문자열 1의 왼쪽에 문자열 2와 동일한 문자열을 삭제한다.

'문자열1'.rstrip('문자열2')
-문자열1의 오른쪽에 문자열 2와 동일한 문자열을 삭제한다.

'문자열1'.replace('문자열2', '문자열3')
-문자열 1에서 문자열 2와 일치하는 것을 문자열 3으로 바꾼다

In [6]:
x = int(input())

for i in range(1, x+1):
    if i % 2 == 0:
        print(i)

15
2
4
6
8
10
12
14

In [32]:
a = '오늘은\t문자열을\t배웠고,\t그\t지식을\t이용해\t문자열\t수정을\t해\t봅시다\n'
b = a.replace('\t', ' ')
c = b.replace('\n', ' ')
d = c.replace(' ', '%')
e = d.split(',')
f = '\n'.join([e[0], e[1]])
print(f)

오늘은%문자열을%배웠고
%그%지식을%이용해%문자열%수정을%해%봅시다%

'오늘은\t문자열을\t배웠고,\t그\t지식을\t이용해\t문자열\t수정을\t해\t봅시다 '

In [20]:
print(9988+456)
print(9936-880012)
print(3**72) #지수는 ** 인것을 잊지말자
print(7//4, 7%4, 7/4)

10444
-870076
22528399544939174411840147874772641
1 3 1.75

In [36]:
for i in [3, 72, 99, 108, 40, 5]:
    if i % 2 == 0:
        print(i, '짝수')
    else:
        print(i, '홀수')

3 홀수
72 짝수
99 홀수
108 짝수
40 짝수
5 홀수

In [28]:
3 % 2 == 0

False

In [35]:
s = '안녕하세요'
print(s)
print(s[3])
print(s[1:])
print(s[1:3]) #1~3까지 리턴을 함

안녕하세요
세
녕하세요
녕하

In [38]:
l = [1, 2, 34, 5, 699, 0, 2, 'wsk', 1+1, [22, 0.9]]
print(l)

[1, 2, 34, 5, 699, 0, 2, 'wsk', 2, [22, 0.9]]

In [39]:
[1, 23, 6] + [9, 3, 6]

[1, 23, 6, 9, 3, 6]

In [40]:
l2 = ['월', '화', '수', '목', '금', '토', '일']

In [43]:
l2.pop()

'일'

In [44]:
l2

['월', '화', '수', '목', '금', '토']

In [168]:
list5 = [4]
[99] + list5 + [8, 7.2, [6], 'hello']

[99, 4, 8, 7.2, [6], 'hello']

In [169]:
list5 = [4]
list5.pop()
list5.push()

AttributeError: 'list' object has no attribute 'push'

In [81]:
x = [4]
y = x.pop()
x = x + [99]
x += y
x += [8, 7.2, [6], 'hello']
print(x)

TypeError: 'int' object is not iterable

In [74]:
x = [4]
y = x.pop()

In [75]:
y

4

In [76]:
x.append(99)

In [77]:
x

[99]

In [78]:
x.append(y)

In [79]:
x.append(8)
x.append(7.2)
x.append([6])
x.append('hello') #push의 개념

In [80]:
x

[99, 4, 8, 7.2, [6], 'hello']

In [82]:
dic = { 'hello': 123, 'world': 456}

In [83]:
dic

{'hello': 123, 'world': 456}

In [84]:
dic['world']

456

{ 'hello': 123, 'world': 456}, # key = 'hello', 'world'
{123, 456} #key = 0.1

In [86]:
dic += {'wow': 789} #list와 다름. dictonary는 할당이 안됨

TypeError: unsupported operand type(s) for +=: 'dict' and 'dict'

In [87]:
ㅣ

NameError: name 'ᅵ' is not defined

list는 변경은 되는데 추가는 안됨. 말하자면 복잡...

In [88]:
#튜플
t = (9, 5, 3, 40, 99, 'wi')

In [89]:
t

(9, 5, 3, 40, 99, 'wi')

In [90]:
t[5]

'wi'

In [91]:
t[:3]

(9, 5, 3)

In [98]:
#실습) 튜플 계산 시도 해보기
튜플 t = (4, 9, [77], 0.32, 'qi')를 이용해 연산해보자
튜플의 2번 자리에 있는 값에 9 더하기
튜플의 3번 자리에 있는 값에 7 곱하기
튜플의 0번 자리에 있는 값을 65.45로 바꾸기
가능하다면 해보고, 불가능하다면 이유를 알아보자
t = (4, 9, [77], 0.32, 'qi')
y = t[2].pop()
print(y+9)
#print(t[2]+9) list라서 덧셈이 안됨
print(t[3]*7)
#튜플은 변경할 수 없는 자료형이라서 바꾸더라도 주소값이 바뀌어서 결론적으로 새로운, 또다른 튜플이다

86
2.24

In [104]:
x = [77] 
t2 = (x, 9, [77], 0.32, 'qi')

In [105]:
t2

([77], 9, [77], 0.32, 'qi')

In [ ]:
#오... 간접적으로 바꿀 수 있다.

In [106]:
t[2][0] += 9

In [107]:
t # 실시간으로 값이 변경되는 상황에서만 가능함.

([77], 9, [86], 0.32, 'qi')

In [111]:
2차원 리스트

In [113]:
l2 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [114]:
l2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [115]:
for i, j, k in l2:
    print(i, j, k)

1 2 3
4 5 6
7 8 9

In [116]:
l2[1]

[4, 5, 6]

In [117]:
l2[1][2]

6

## 실습) 2차원 리스트 이해하기
* 가로 세로 8*8 크기의 2차원 리스트를 만든다.
* (6, 2) 위치에 X라는 문자를 넣고,
* (0, 0) 위치에 P라는 문자를 넣고,
* (7, 7) 위치에 F라는 문자를 넣는다
* 남은 공간은 O라는 문자를 넣는다.

In [121]:
l2 = [['P', 'O', 'O', 'O', 'O', 'O', 'O', 'O'], ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
      ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'], ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
      ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'], ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
      ['O', 'O', 'X', 'O', 'O', 'O', 'O', 'O'], ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'F']]

In [122]:
l2

[['P', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'X', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'F']]

## 실습: 2차원 좌표 이해하기
* l2리스트에서 다음과 같이 수정하기
* (7, 1)좌표에서 Y 방향으로 1만큼 위로, X 방향으로 2만큼 왼쪽으로 이동한 지점의 값을 S로 바꾼다
* 단, 값 변경은 인덱싱을 이용한다

In [127]:
l2 = [['P', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
      ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
      ['O', 'O', 'O', 'O', 'O', 'O', 'X', 'O'],
      ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
      ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
      ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
      ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
      ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'F']]

In [132]:
for i in l2:
    print(i)

['P', 'O', 'O', 'O', 'O', 'S', 'O', 'O']
['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
['O', 'O', 'O', 'O', 'O', 'O', 'X', 'O']
['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
['O', 'O', 'O', 'O', 'O', 'O', 'O', 'F']

In [129]:
l2[0][5] = 'S'
l2[1-1][7-2] = 'S'#(7,1)좌표를 반대로 입력해야 됨.

In [130]:
l2

[['P', 'O', 'O', 'O', 'O', 'S', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'X', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'F']]

In [133]:
# 리스트에서 오버플로시 선택지 설명하기
[1, 2, 3][3]

IndexError: list index out of range

list index out of range 데이터가 리스트를 넘음.

In [134]:
len([4, 6, 8])

3

In [135]:
len(l2)

8

# 실습 : 리스트 크기 알아보기
* 위 2차원 리스트에서, 전체 크기의 1/2 지점이 되는 x좌표, 전체 크기 -1 지점이 되는 y 좌표의 값을 'A'로 변경하라

In [137]:
l2[len(l2)//2][len(l2)-1] = 'A' (4, 7)

In [138]:
l2

[['P', 'O', 'O', 'O', 'O', 'S', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'X', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'A'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'F']]

In [144]:
l2[len(l2)-1][len(l2)//2] = 'A'

In [141]:
l2

[['P', 'O', 'O', 'O', 'O', 'S', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'X', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'A'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'A', 'O', 'O', 'F']]

In [142]:
len(l2)//2

4

In [154]:
(len(l2[0]) - 1) / 2

3.5

In [155]:
len(l2) - 1

7

In [156]:
l2[7-1][3-1] = 'A' #0부터 시작하기 때문에 -1씩 깍아주기

In [157]:
l2

[['P', 'O', 'O', 'O', 'O', 'S', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'A', 'O', 'O', 'X', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'A'],
 ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'A', 'A', 'O', 'O', 'O', 'O'],
 ['O', 'O', 'O', 'O', 'A', 'O', 'O', 'F']]