In [1]:
# 효율적인 코드
def sum_all(x, y, z, w):
    sum_1 = x + y
    sum_2 = sum_1 + z
    sum_4 = sum_2 * 2 + sum_1
    sum_5 = sum_4 * w
        
    return sum_5 

def list_return(x, z, w):
    return [i+x+z for i in range(w)]

x = int(input('number 1: '))
y = int(input('number 2: '))
z = int(input('number 3: '))
w = int(input('number 4: '))

num1_res = sum_all(x, y, z, w)
num3_res = list_return(num1_res, z, w)
print(num3_res)

number 1: 1
number 2: 2
number 3: 3
number 4: 4
[63, 64, 65, 66]

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel("C:/Users/user/Downloads/RNAseq_result.xlsx")

In [4]:
df

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6
0,0,ENSMUST00000177564.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,ENSMUST00000196221.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,ENSMUST00000179664.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,ENSMUST00000178537.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,ENSMUST00000178862.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
109277,109277,ENSMUST00000181902.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109278,109278,ENSMUST00000181878.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109279,109279,ENSMUST00000201504.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109280,109280,ENSMUST00000200975.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109281,109281,ENSMUST00000202689.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
df['WT1'] = df['WT1'].apply(lambda x: x+1) # 훨씬 빠름, for보다

In [6]:
df

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6
0,0,ENSMUST00000177564.1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,ENSMUST00000196221.1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,ENSMUST00000179664.1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,ENSMUST00000178537.1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,ENSMUST00000178862.1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
109277,109277,ENSMUST00000181902.2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109278,109278,ENSMUST00000181878.2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109279,109279,ENSMUST00000201504.1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109280,109280,ENSMUST00000200975.1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109281,109281,ENSMUST00000202689.1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
[i+1 for i in df['WT1']]

[2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.996169,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 3.05619,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0459987,
 2.309781,
 2.2209000000000003,
 2.0,
 2.0,
 2.953402,
 49.2097,
 16.041600000000003,
 3.8852,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 5.69323,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0560571000000003,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.233728,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 3.2290099999999997,
 5.045170000000001,
 2.0,
 2.0,
 2.0542446,
 2.0,
 2.0,
 2.0,
 2.0,
 21.2097,
 25.7876,
 2.0,
 2.0,
 2.0,
 2.914827,
 2.0,
 2.0000000505677002,
 2.532799,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.12203,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 3.02118,
 2.282857,
 2.0,
 4.05275,
 12.8451,
 6.08316,
 2.0,
 2.0,
 2.0247390000000003,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.565705,
 2.4336599999999997,
 2.204786,
 2.0,
 2.0,
 2.0,
 2.0848959000000002,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0467274,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.464902,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 851.514,
 246.584,
 494.508,
 406.397,
 2708.59,
 223.485,
 1719.8,
 1279.14,
 2184.48,
 1908.23,
 4560.77,
 335.452,
 598.539,
 51.5327,
 2.0,
 242.356,
 72.7031,
 25.1391,
 29.501,
 37.7241,
 6.97459,
 41.4709,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0836007,
 2.0,
 2.0,
 2.372942,
 5.95242,
 2.0,
 2.00000000150869,
 2.000000033909,
 2.0,
 2.0,
 2.0,
 4.36315,
 2.569875,
 2.0,
 2.0,
 2.0,
 2.0,
 2.1824440000000003,
 2.150111,
 2.0,
 2.0,
 5.49774,
 2.214642,
 2.103567,
 26.1317,
 3.3479200000000002,
 2.407102,
 5.135479999999999,
 2.0,
 32.283,
 2.0,
 2.0,
 4.48402,
 2.0,
 2.3561810000000003,
 2.0296683,
 2.0,
 2.0,
 2.131143,
 2.202196,
 4.03388,
 69.101,
 15.0193,
 13.0667,
 2.0289919000000003,
 2.771086,
 10.81788,
 2.691837,
 6.50604,
 15.987,
 18.7111,
 14.8482,
 2.136053,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.271734,
 2.0,
 2.123679,
 2.0652931,
 2.0,
 2.0893969,
 4.455769999999999,
 5.942959999999999,
 2.106321,
 3.37117,
 2.876496,
 2.2077530000000003,
 3.88937,
 2.0,
 2.0,
 2.0,
 2.0,
 224.799,
 2.0924872,
 7.44112,
 21.383,
 2.673724,
 8.54968,
 2.0,
 6.07865,
 5.36769,
 40.3525,
 2.0,
 2.593055,
 2.0,
 2.1112640000000003,
 2.0101456,
 2.0,
 26.1248,
 2.0,
 3.0074199999999998,
 2.0,
 5.17241,
 2.476236,
 2.0,
 2.0,
 2.0,
 2.0,
 46.6197,
 79.9222,
 2.0,
 2.0,
 10.20784,
 47.785,
 3.17115,
 2.0,
 2.0,
 2.2659700000000003,
 2.333161,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.00796177,
 2.0,
 2.0,
 4.84698,
 25.3127,
 2.0,
 4.5311699999999995,
 2.0,
 2.398511,
 2.242287,
 2.0,
 15.9896,
 3.61558,
 2.0,
 2.0,
 10.7708,
 2.19842,
 5.49235,
 3.1061,
 6.54822,
 83.9533,
 89.4787,
 6.15131,
 7.18967,
 2.761237,
 3.41453,
 3.06474,
 4.446680000000001,
 7.45688,
 6.33151,
 5.09082,
 23.7253,
 3.8811,
 9.88474,
 2.0,
 2.2918089999999998,
 2.1307229999999997,
 46.2298,
 2.0,
 52.6844,
 18.8113,
 2.0,
 33.2803,
 2.4309279999999998,
 2.0,
 2.0,
 2.0,
 2.1555720000000003,
 2.0,
 ...]

In [8]:
df['WT1'] = [i+1 for i in df['WT1']] #리스트 컴프레션은 c로 구성되어 있어서 멀티코어로 동시다발적으로 계산을 할 수 있음

In [9]:
df

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6
0,0,ENSMUST00000177564.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,ENSMUST00000196221.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,ENSMUST00000179664.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,ENSMUST00000178537.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,ENSMUST00000178862.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
109277,109277,ENSMUST00000181902.2,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109278,109278,ENSMUST00000181878.2,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109279,109279,ENSMUST00000201504.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109280,109280,ENSMUST00000200975.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109281,109281,ENSMUST00000202689.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
(lambda x: x+1)

In [11]:
(lambda x: x+1)(456)

457

In [12]:
df

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6
0,0,ENSMUST00000177564.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,ENSMUST00000196221.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,ENSMUST00000179664.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,ENSMUST00000178537.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,ENSMUST00000178862.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
109277,109277,ENSMUST00000181902.2,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109278,109278,ENSMUST00000181878.2,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109279,109279,ENSMUST00000201504.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109280,109280,ENSMUST00000200975.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109281,109281,ENSMUST00000202689.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

---
# lambda 함수
* lambda x: 형식으로 이용
* 불특정 대상 x를 의미
* df['WT1'].apply(lambda x: x+1) 식으로 이용할 경우 pandas serial(= series) 로 변환됨
* (lambda x: x+1)(456) 식으로 사용할 경우 int로 반환됨
* 위 예시를 제외한 방법으로 list-like object를 만들어보자

In [13]:
# 람다 함수의 경우 입력 파라미터 이외의 변수를 읽어올 수 있다
res = []

for i in range(10):
    res.append((lambda x: x+1)(i))

In [14]:
res

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
[(lambda x: x+1)(i) for i in range(10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
[(lambda x: 1 if x>0 else 0)(i) for i in range(10)]

[0, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [17]:
[(lambda x: print(1) if x>0 else 0)(i) for i in range(10)]

1
1
1
1
1
1
1
1
1

[0, None, None, None, None, None, None, None, None, None]

In [18]:
df['WT1'].apply() # func = 함수, 고로 apply = 함수

TypeError: apply() missing 1 required positional argument: 'func'

In [19]:
def func_apply(x):
    if x > 0:
        return 123
    else:
        return 456

In [20]:
df['WT1'].apply(lambda x: func_apply(x))

0         123
1         123
2         123
3         123
4         123
         ...
109277    123
109278    123
109279    123
109280    123
109281    123
Name: WT1, Length: 109282, dtype: int64

In [21]:
df.columns # index는 리스트 계산이 먹히지 않아서 리스트로 바꿔줘서 계산하고 다시 인덱스에 넣어줘야 함

Index(['Unnamed: 0', 'target_id', 'WT1', 'WT2', 'WT3', 'Treat1', 'Treat2',
       'Treat3', 'Treat4', 'Treat5', 'Treat6'],
      dtype='object')

In [22]:
df.columns[7]

'Treat3'

In [23]:
df.columns[-4] = 'Treat30'

TypeError: Index does not support mutable operations

In [24]:
df

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6
0,0,ENSMUST00000177564.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,ENSMUST00000196221.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,ENSMUST00000179664.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,ENSMUST00000178537.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,ENSMUST00000178862.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
109277,109277,ENSMUST00000181902.2,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109278,109278,ENSMUST00000181878.2,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109279,109279,ENSMUST00000201504.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109280,109280,ENSMUST00000200975.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109281,109281,ENSMUST00000202689.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Index does not support mutable operations = 인덱스는 변형 동작이 지원되지 않음

In [25]:
df.columns

Index(['Unnamed: 0', 'target_id', 'WT1', 'WT2', 'WT3', 'Treat1', 'Treat2',
       'Treat3', 'Treat4', 'Treat5', 'Treat6'],
      dtype='object')

In [26]:
temp_list2 = list(df.columns)

In [27]:
temp_list2

['Unnamed: 0',
 'target_id',
 'WT1',
 'WT2',
 'WT3',
 'Treat1',
 'Treat2',
 'Treat3',
 'Treat4',
 'Treat5',
 'Treat6']

In [32]:
temp_list2[7] = 'Treat30'

In [33]:
temp_list2

['Unnamed: 0',
 'target_id',
 'WT1',
 'WT2',
 'WT3',
 'Treat1',
 'Treat2',
 'Treat30',
 'Treat4',
 'Treat5',
 'Treat6']

In [34]:
df.columns = temp_list2

In [35]:
df

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat30,Treat4,Treat5,Treat6
0,0,ENSMUST00000177564.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,ENSMUST00000196221.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,ENSMUST00000179664.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,ENSMUST00000178537.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,ENSMUST00000178862.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
109277,109277,ENSMUST00000181902.2,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109278,109278,ENSMUST00000181878.2,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109279,109279,ENSMUST00000201504.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109280,109280,ENSMUST00000200975.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109281,109281,ENSMUST00000202689.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
df.rename({'Treat30':'Treat3'}, axis = 1)

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6
0,0,ENSMUST00000177564.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,ENSMUST00000196221.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,ENSMUST00000179664.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,ENSMUST00000178537.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,ENSMUST00000178862.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
109277,109277,ENSMUST00000181902.2,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109278,109278,ENSMUST00000181878.2,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109279,109279,ENSMUST00000201504.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109280,109280,ENSMUST00000200975.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109281,109281,ENSMUST00000202689.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
df.index # stop-1 = 109281 (range라서 1빼줌)

RangeIndex(start=0, stop=109282, step=1)

In [38]:
temp_list = list(df.index) #여기서 list가 변수가 아니고 함수임, list34 아님, list라고 쳤을 때 []나오면 커널 초기화

In [39]:
temp_list[109279] = 'hello'

In [41]:
df.index = temp_list

In [42]:
df

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat30,Treat4,Treat5,Treat6
0,0,ENSMUST00000177564.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,ENSMUST00000196221.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,ENSMUST00000179664.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,ENSMUST00000178537.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,ENSMUST00000178862.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
109277,109277,ENSMUST00000181902.2,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109278,109278,ENSMUST00000181878.2,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
hello,109279,ENSMUST00000201504.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109280,109280,ENSMUST00000200975.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109281,109281,ENSMUST00000202689.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [45]:
temp_list = list(df.index)
temp_list[109278] = ['hello', 'world']
df.index = temp_list

In [46]:
df.index[109278]

['hello', 'world']

In [47]:
df

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat30,Treat4,Treat5,Treat6
0,0,ENSMUST00000177564.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,ENSMUST00000196221.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,ENSMUST00000179664.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,ENSMUST00000178537.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,ENSMUST00000178862.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
109277,109277,ENSMUST00000181902.2,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"[hello, world]",109278,ENSMUST00000181878.2,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
hello,109279,ENSMUST00000201504.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109280,109280,ENSMUST00000200975.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109281,109281,ENSMUST00000202689.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [48]:
type(df.index[109278])

list

In [49]:
df.iloc[4]

Unnamed: 0                       4
target_id     ENSMUST00000178862.1
WT1                            2.0
WT2                            0.0
WT3                            0.0
Treat1                         0.0
Treat2                         0.0
Treat30                        0.0
Treat4                         0.0
Treat5                         0.0
Treat6                         0.0
Name: 4, dtype: object

In [53]:
df.iloc[:,2]

0                 2.0
1                 2.0
2                 2.0
3                 2.0
4                 2.0
                 ...
109277            2.0
[hello, world]    2.0
hello             2.0
109280            2.0
109281            2.0
Name: WT1, Length: 109282, dtype: float64

In [54]:
df.iloc[10:,2:]

                WT1  WT2  WT3  Treat1  Treat2  Treat30  Treat4  Treat5  Treat6
10              2.0  0.0  0.0     0.0     0.0      0.0     0.0     0.0     0.0
11              2.0  0.0  0.0     0.0     0.0      0.0     0.0     0.0     0.0
12              2.0  0.0  0.0     0.0     0.0      0.0     0.0     0.0     0.0
13              2.0  0.0  0.0     0.0     0.0      0.0     0.0     0.0     0.0
14              2.0  0.0  0.0     0.0     0.0      0.0     0.0     0.0     0.0
...             ...  ...  ...     ...     ...      ...     ...     ...     ...
109277          2.0  0.0  0.0     0.0     0.0      0.0     0.0     0.0     0.0
[hello, world]  2.0  0.0  0.0     0.0     0.0      0.0     0.0     0.0     0.0
hello           2.0  0.0  0.0     0.0     0.0      0.0     0.0     0.0     0.0
109280          2.0  0.0  0.0     0.0     0.0      0.0     0.0     0.0     0.0
109281          2.0  0.0  0.0     0.0     0.0      0.0     0.0     0.0     0.0

[109272 rows x 9 columns]

In [56]:
copy_df = df.copy()

In [57]:
copy_df.iloc[-1, -1] = 'changed_value'

In [58]:
copy_df # 깊은 복사

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat30,Treat4,Treat5,Treat6
0,0,ENSMUST00000177564.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,ENSMUST00000196221.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,ENSMUST00000179664.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,ENSMUST00000178537.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,ENSMUST00000178862.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
109277,109277,ENSMUST00000181902.2,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"[hello, world]",109278,ENSMUST00000181878.2,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
hello,109279,ENSMUST00000201504.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109280,109280,ENSMUST00000200975.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109281,109281,ENSMUST00000202689.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,changed_value

In [59]:
df2 = df

In [64]:
df.iloc[-1, -2] = 'changed_value'

In [65]:
df2 # 얕은 복사의 예

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat30,Treat4,Treat5,Treat6
0,0,ENSMUST00000177564.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,ENSMUST00000196221.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,ENSMUST00000179664.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,ENSMUST00000178537.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,ENSMUST00000178862.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
109277,109277,ENSMUST00000181902.2,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"[hello, world]",109278,ENSMUST00000181878.2,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
hello,109279,ENSMUST00000201504.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109280,109280,ENSMUST00000200975.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109281,109281,ENSMUST00000202689.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,changed_value,changed_value

In [66]:
df

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat30,Treat4,Treat5,Treat6
0,0,ENSMUST00000177564.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,ENSMUST00000196221.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,ENSMUST00000179664.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,ENSMUST00000178537.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,ENSMUST00000178862.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
109277,109277,ENSMUST00000181902.2,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"[hello, world]",109278,ENSMUST00000181878.2,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
hello,109279,ENSMUST00000201504.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109280,109280,ENSMUST00000200975.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109281,109281,ENSMUST00000202689.1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,changed_value,changed_value

In [68]:
#copy_df를 써야 원본이 손상되지 않음.

In [69]:
#데이터프레임 생성하기

In [70]:
tnfa = '''ACCATGAGCACAGAAAGCATGATCCGCGACGTGGAACTGGCAGAAGAGGCACTCCCCCAAAAGATGGGGG
GCTTCCAGAACTCCAGGCGGTGCCTATGTCTCAGCCTCTTCTCATTCCTGCTTGTGGCAGGGGCCACCAC
GCTCTTCTGTCTACTGAACTTCGGGGTGATCGGTCCCCAAAGGGATGAGGTGAGTNNNNNNNNNNNNNNN
NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
NNNNNNNNNNNNNNNCTCCTTCTTTTCCTACACAGAAGTTCCCAAATGGCCTCCCTCTCATCAGTTCTAT
GGCCCAGACCCTCACACTCAGTAAGTGTTCCCACACCTCTCTCTTAATTTAAGATGGAGGAAGGGCAGTT
AGGCATGGGATGAGATGGGGTGGGGGGAGAACTTAAAGCTTTGGTTTGGGAGGAAAGGGGTCTAAGTGCA
TAGATGCTTGCTGGGAAGCCTAAAAGGCTCATCCTTGCCTTTGTCTCTTCCCCTCCAGGATCATCTTCTC
AAAATTCGAGTGACAAGCCTGTAGCCCACGTCGTAGGTAANNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
CCCCCCCCCCTCAGCAAACCACCAAGTGGAGGAGCAGCTGGAGTGGCTGAGCCAGCGCGCCAACGCCCTC
CTGGCCAACGGCATGGATCTCAAAGACAACCAACTAGTGGTGCCAGCCGATGGGTTGTACCTTGTCTACT
CCCAGGTTCTCTTCAAGGGACAAGGCTGCCCCGACTACGTGCTCCTCACCCACACCGTCAGCCGATTTGC
TATCTCATACCAGGAGAAAGTCAACCTCCTCTCTGCCGTCAAGAGCCCCTGCCCCAAGGACACCCCTGAG
GGGGCTGAGCTCAAACCCTGGTATGAGCCCATATACCTGGGAGGAGTCTTCCAGCTGGAGAAGGGGGACC
AACTCAGCGCTGAGGTCAATCTGCCCAAGTACTTAGACTTTGCGGAGTCCGGGCAGGTCTACTTTGGAGT
CATTGCTCTGTGAAGA'''

In [71]:
tnfa

'ACCATGAGCACAGAAAGCATGATCCGCGACGTGGAACTGGCAGAAGAGGCACTCCCCCAAAAGATGGGGG\nGCTTCCAGAACTCCAGGCGGTGCCTATGTCTCAGCCTCTTCTCATTCCTGCTTGTGGCAGGGGCCACCAC\nGCTCTTCTGTCTACTGAACTTCGGGGTGATCGGTCCCCAAAGGGATGAGGTGAGTNNNNNNNNNNNNNNN\nNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\nNNNNNNNNNNNNNNNCTCCTTCTTTTCCTACACAGAAGTTCCCAAATGGCCTCCCTCTCATCAGTTCTAT\nGGCCCAGACCCTCACACTCAGTAAGTGTTCCCACACCTCTCTCTTAATTTAAGATGGAGGAAGGGCAGTT\nAGGCATGGGATGAGATGGGGTGGGGGGAGAACTTAAAGCTTTGGTTTGGGAGGAAAGGGGTCTAAGTGCA\nTAGATGCTTGCTGGGAAGCCTAAAAGGCTCATCCTTGCCTTTGTCTCTTCCCCTCCAGGATCATCTTCTC\nAAAATTCGAGTGACAAGCCTGTAGCCCACGTCGTAGGTAANNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\nNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\nCCCCCCCCCCTCAGCAAACCACCAAGTGGAGGAGCAGCTGGAGTGGCTGAGCCAGCGCGCCAACGCCCTC\nCTGGCCAACGGCATGGATCTCAAAGACAACCAACTAGTGGTGCCAGCCGATGGGTTGTACCTTGTCTACT\nCCCAGGTTCTCTTCAAGGGACAAGGCTGCCCCGACTACGTGCTCCTCACCCACACCGTCAGCCGATTTGC\nTATCTCATACCAGGAGAAAGTCAACCTCCTCTCTGCCGTCAAGAGCCCCTGCCCCAAGGACACCCCTGAG\nGGGGCTGAGCTCAAACCCTGGTATGAGCCCATATACCTGGGAGGAGTCTTCCAGCTGGAGAAGGGGGACC\nAACTCAGCGCTGAGGTCAATCTGCCCAAGTACTTAGACTTTGCGGAGTCCGGGCAGGTCTACTTTGGAGT\nCATTGCTCTGTGAAGA'

In [73]:
tnfa = tnfa.replace("\n", '')

In [74]:
tnfa

'ACCATGAGCACAGAAAGCATGATCCGCGACGTGGAACTGGCAGAAGAGGCACTCCCCCAAAAGATGGGGGGCTTCCAGAACTCCAGGCGGTGCCTATGTCTCAGCCTCTTCTCATTCCTGCTTGTGGCAGGGGCCACCACGCTCTTCTGTCTACTGAACTTCGGGGTGATCGGTCCCCAAAGGGATGAGGTGAGTNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNCTCCTTCTTTTCCTACACAGAAGTTCCCAAATGGCCTCCCTCTCATCAGTTCTATGGCCCAGACCCTCACACTCAGTAAGTGTTCCCACACCTCTCTCTTAATTTAAGATGGAGGAAGGGCAGTTAGGCATGGGATGAGATGGGGTGGGGGGAGAACTTAAAGCTTTGGTTTGGGAGGAAAGGGGTCTAAGTGCATAGATGCTTGCTGGGAAGCCTAAAAGGCTCATCCTTGCCTTTGTCTCTTCCCCTCCAGGATCATCTTCTCAAAATTCGAGTGACAAGCCTGTAGCCCACGTCGTAGGTAANNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNCCCCCCCCCCTCAGCAAACCACCAAGTGGAGGAGCAGCTGGAGTGGCTGAGCCAGCGCGCCAACGCCCTCCTGGCCAACGGCATGGATCTCAAAGACAACCAACTAGTGGTGCCAGCCGATGGGTTGTACCTTGTCTACTCCCAGGTTCTCTTCAAGGGACAAGGCTGCCCCGACTACGTGCTCCTCACCCACACCGTCAGCCGATTTGCTATCTCATACCAGGAGAAAGTCAACCTCCTCTCTGCCGTCAAGAGCCCCTGCCCCAAGGACACCCCTGAGGGGGCTGAGCTCAAACCCTGGTATGAGCCCATATACCTGGGAGGAGTCTTCCAGCTGGAGAAGGGGGACCAACTCAGCGCTGAGGTCAATCTGCCCAAGTACTTAGACTTTGCGGAGTCCGGGCAGGTCTACTTTGGAGTCATTGCTCTGTGAAGA'

In [75]:
tnfa = tnfa.replace("N", '')

In [76]:
tnfa

'ACCATGAGCACAGAAAGCATGATCCGCGACGTGGAACTGGCAGAAGAGGCACTCCCCCAAAAGATGGGGGGCTTCCAGAACTCCAGGCGGTGCCTATGTCTCAGCCTCTTCTCATTCCTGCTTGTGGCAGGGGCCACCACGCTCTTCTGTCTACTGAACTTCGGGGTGATCGGTCCCCAAAGGGATGAGGTGAGTCTCCTTCTTTTCCTACACAGAAGTTCCCAAATGGCCTCCCTCTCATCAGTTCTATGGCCCAGACCCTCACACTCAGTAAGTGTTCCCACACCTCTCTCTTAATTTAAGATGGAGGAAGGGCAGTTAGGCATGGGATGAGATGGGGTGGGGGGAGAACTTAAAGCTTTGGTTTGGGAGGAAAGGGGTCTAAGTGCATAGATGCTTGCTGGGAAGCCTAAAAGGCTCATCCTTGCCTTTGTCTCTTCCCCTCCAGGATCATCTTCTCAAAATTCGAGTGACAAGCCTGTAGCCCACGTCGTAGGTAACCCCCCCCCCTCAGCAAACCACCAAGTGGAGGAGCAGCTGGAGTGGCTGAGCCAGCGCGCCAACGCCCTCCTGGCCAACGGCATGGATCTCAAAGACAACCAACTAGTGGTGCCAGCCGATGGGTTGTACCTTGTCTACTCCCAGGTTCTCTTCAAGGGACAAGGCTGCCCCGACTACGTGCTCCTCACCCACACCGTCAGCCGATTTGCTATCTCATACCAGGAGAAAGTCAACCTCCTCTCTGCCGTCAAGAGCCCCTGCCCCAAGGACACCCCTGAGGGGGCTGAGCTCAAACCCTGGTATGAGCCCATATACCTGGGAGGAGTCTTCCAGCTGGAGAAGGGGGACCAACTCAGCGCTGAGGTCAATCTGCCCAAGTACTTAGACTTTGCGGAGTCCGGGCAGGTCTACTTTGGAGTCATTGCTCTGTGAAGA'

In [77]:
tnfa_list = [t for t in tnfa]

In [78]:
tnfa_list

['A',
 'C',
 'C',
 'A',
 'T',
 'G',
 'A',
 'G',
 'C',
 'A',
 'C',
 'A',
 'G',
 'A',
 'A',
 'A',
 'G',
 'C',
 'A',
 'T',
 'G',
 'A',
 'T',
 'C',
 'C',
 'G',
 'C',
 'G',
 'A',
 'C',
 'G',
 'T',
 'G',
 'G',
 'A',
 'A',
 'C',
 'T',
 'G',
 'G',
 'C',
 'A',
 'G',
 'A',
 'A',
 'G',
 'A',
 'G',
 'G',
 'C',
 'A',
 'C',
 'T',
 'C',
 'C',
 'C',
 'C',
 'C',
 'A',
 'A',
 'A',
 'A',
 'G',
 'A',
 'T',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'C',
 'T',
 'T',
 'C',
 'C',
 'A',
 'G',
 'A',
 'A',
 'C',
 'T',
 'C',
 'C',
 'A',
 'G',
 'G',
 'C',
 'G',
 'G',
 'T',
 'G',
 'C',
 'C',
 'T',
 'A',
 'T',
 'G',
 'T',
 'C',
 'T',
 'C',
 'A',
 'G',
 'C',
 'C',
 'T',
 'C',
 'T',
 'T',
 'C',
 'T',
 'C',
 'A',
 'T',
 'T',
 'C',
 'C',
 'T',
 'G',
 'C',
 'T',
 'T',
 'G',
 'T',
 'G',
 'G',
 'C',
 'A',
 'G',
 'G',
 'G',
 'G',
 'C',
 'C',
 'A',
 'C',
 'C',
 'A',
 'C',
 'G',
 'C',
 'T',
 'C',
 'T',
 'T',
 'C',
 'T',
 'G',
 'T',
 'C',
 'T',
 'A',
 'C',
 'T',
 'G',
 'A',
 'A',
 'C',
 'T',
 'T',
 'C',
 'G',
 'G',
 'G',
 'G',
 'T',
 'G',
 'A',
 'T',
 'C',
 'G',
 'G',
 'T',
 'C',
 'C',
 'C',
 'C',
 'A',
 'A',
 'A',
 'G',
 'G',
 'G',
 'A',
 'T',
 'G',
 'A',
 'G',
 'G',
 'T',
 'G',
 'A',
 'G',
 'T',
 'C',
 'T',
 'C',
 'C',
 'T',
 'T',
 'C',
 'T',
 'T',
 'T',
 'T',
 'C',
 'C',
 'T',
 'A',
 'C',
 'A',
 'C',
 'A',
 'G',
 'A',
 'A',
 'G',
 'T',
 'T',
 'C',
 'C',
 'C',
 'A',
 'A',
 'A',
 'T',
 'G',
 'G',
 'C',
 'C',
 'T',
 'C',
 'C',
 'C',
 'T',
 'C',
 'T',
 'C',
 'A',
 'T',
 'C',
 'A',
 'G',
 'T',
 'T',
 'C',
 'T',
 'A',
 'T',
 'G',
 'G',
 'C',
 'C',
 'C',
 'A',
 'G',
 'A',
 'C',
 'C',
 'C',
 'T',
 'C',
 'A',
 'C',
 'A',
 'C',
 'T',
 'C',
 'A',
 'G',
 'T',
 'A',
 'A',
 'G',
 'T',
 'G',
 'T',
 'T',
 'C',
 'C',
 'C',
 'A',
 'C',
 'A',
 'C',
 'C',
 'T',
 'C',
 'T',
 'C',
 'T',
 'C',
 'T',
 'T',
 'A',
 'A',
 'T',
 'T',
 'T',
 'A',
 'A',
 'G',
 'A',
 'T',
 'G',
 'G',
 'A',
 'G',
 'G',
 'A',
 'A',
 'G',
 'G',
 'G',
 'C',
 'A',
 'G',
 'T',
 'T',
 'A',
 'G',
 'G',
 'C',
 'A',
 'T',
 'G',
 'G',
 'G',
 'A',
 'T',
 'G',
 'A',
 'G',
 'A',
 'T',
 'G',
 'G',
 'G',
 'G',
 'T',
 'G',
 'G',
 'G',
 'G',
 'G',
 'G',
 'A',
 'G',
 'A',
 'A',
 'C',
 'T',
 'T',
 'A',
 'A',
 'A',
 'G',
 'C',
 'T',
 'T',
 'T',
 'G',
 'G',
 'T',
 'T',
 'T',
 'G',
 'G',
 'G',
 'A',
 'G',
 'G',
 'A',
 'A',
 'A',
 'G',
 'G',
 'G',
 'G',
 'T',
 'C',
 'T',
 'A',
 'A',
 'G',
 'T',
 'G',
 'C',
 'A',
 'T',
 'A',
 'G',
 'A',
 'T',
 'G',
 'C',
 'T',
 'T',
 'G',
 'C',
 'T',
 'G',
 'G',
 'G',
 'A',
 'A',
 'G',
 'C',
 'C',
 'T',
 'A',
 'A',
 'A',
 'A',
 'G',
 'G',
 'C',
 'T',
 'C',
 'A',
 'T',
 'C',
 'C',
 'T',
 'T',
 'G',
 'C',
 'C',
 'T',
 'T',
 'T',
 'G',
 'T',
 'C',
 'T',
 'C',
 'T',
 'T',
 'C',
 'C',
 'C',
 'C',
 'T',
 'C',
 'C',
 'A',
 'G',
 'G',
 'A',
 'T',
 'C',
 'A',
 'T',
 'C',
 'T',
 'T',
 'C',
 'T',
 'C',
 'A',
 'A',
 'A',
 'A',
 'T',
 'T',
 'C',
 'G',
 'A',
 'G',
 'T',
 'G',
 'A',
 'C',
 'A',
 'A',
 'G',
 'C',
 'C',
 'T',
 'G',
 'T',
 'A',
 'G',
 'C',
 'C',
 'C',
 'A',
 'C',
 'G',
 'T',
 'C',
 'G',
 'T',
 'A',
 'G',
 'G',
 'T',
 'A',
 'A',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'T',
 'C',
 'A',
 'G',
 'C',
 'A',
 'A',
 'A',
 'C',
 'C',
 'A',
 'C',
 'C',
 'A',
 'A',
 'G',
 'T',
 'G',
 'G',
 'A',
 'G',
 'G',
 'A',
 'G',
 'C',
 'A',
 'G',
 'C',
 'T',
 'G',
 'G',
 'A',
 'G',
 'T',
 'G',
 'G',
 'C',
 'T',
 'G',
 'A',
 'G',
 'C',
 'C',
 'A',
 'G',
 'C',
 'G',
 'C',
 'G',
 'C',
 'C',
 'A',
 'A',
 'C',
 'G',
 'C',
 'C',
 'C',
 'T',
 'C',
 'C',
 'T',
 'G',
 'G',
 'C',
 'C',
 'A',
 'A',
 'C',
 'G',
 'G',
 'C',
 'A',
 'T',
 'G',
 'G',
 'A',
 'T',
 'C',
 'T',
 'C',
 'A',
 'A',
 'A',
 'G',
 'A',
 'C',
 'A',
 'A',
 'C',
 'C',
 'A',
 'A',
 'C',
 'T',
 'A',
 'G',
 'T',
 'G',
 'G',
 'T',
 'G',
 'C',
 'C',
 'A',
 'G',
 'C',
 'C',
 'G',
 'A',
 'T',
 'G',
 'G',
 'G',
 'T',
 'T',
 'G',
 'T',
 'A',
 'C',
 'C',
 'T',
 'T',
 'G',
 'T',
 'C',
 'T',
 'A',
 'C',
 'T',
 'C',
 'C',
 'C',
 'A',
 'G',
 'G',
 'T',
 'T',
 'C',
 'T',
 'C',
 'T',
 'T',
 'C',
 'A',
 'A',
 'G',
 'G',
 'G',
 'A',
 'C',
 'A',
 'A',
 'G',
 'G',
 'C',
 'T',
 'G',
 'C',
 'C',
 'C',
 'C',
 'G',
 'A',
 'C',
 'T',
 'A',
 'C',
 'G',
 'T',
 'G',
 'C',
 'T',
 'C',
 'C',
 'T',
 'C',
 'A',
 'C',
 'C',
 'C',
 'A',
 'C',
 'A',
 'C',
 'C',
 'G',
 'T',
 'C',
 'A',
 'G',
 'C',
 'C',
 'G',
 'A',
 'T',
 'T',
 'T',
 'G',
 'C',
 'T',
 'A',
 'T',
 'C',
 'T',
 'C',
 'A',
 'T',
 'A',
 'C',
 'C',
 'A',
 'G',
 'G',
 'A',
 'G',
 'A',
 'A',
 'A',
 'G',
 'T',
 'C',
 'A',
 'A',
 'C',
 'C',
 'T',
 'C',
 'C',
 'T',
 'C',
 'T',
 'C',
 'T',
 'G',
 'C',
 'C',
 'G',
 'T',
 'C',
 'A',
 'A',
 'G',
 'A',
 'G',
 'C',
 'C',
 'C',
 'C',
 'T',
 'G',
 'C',
 'C',
 'C',
 'C',
 'A',
 'A',
 'G',
 'G',
 'A',
 'C',
 'A',
 'C',
 'C',
 'C',
 'C',
 'T',
 'G',
 'A',
 'G',
 'G',
 'G',
 'G',
 'G',
 'C',
 'T',
 'G',
 'A',
 'G',
 'C',
 'T',
 'C',
 'A',
 'A',
 'A',
 'C',
 'C',
 'C',
 'T',
 'G',
 'G',
 'T',
 'A',
 'T',
 'G',
 'A',
 'G',
 'C',
 'C',
 'C',
 'A',
 'T',
 'A',
 'T',
 'A',
 'C',
 'C',
 'T',
 'G',
 'G',
 'G',
 'A',
 'G',
 'G',
 'A',
 'G',
 'T',
 'C',
 'T',
 'T',
 'C',
 'C',
 'A',
 'G',
 'C',
 'T',
 'G',
 'G',
 'A',
 'G',
 'A',
 'A',
 'G',
 'G',
 'G',
 'G',
 'G',
 'A',
 'C',
 'C',
 'A',
 'A',
 'C',
 'T',
 'C',
 'A',
 'G',
 'C',
 'G',
 'C',
 'T',
 'G',
 'A',
 'G',
 'G',
 'T',
 'C',
 'A',
 'A',
 'T',
 'C',
 'T',
 'G',
 'C',
 'C',
 'C',
 'A',
 'A',
 'G',
 'T',
 'A',
 'C',
 'T',
 'T',
 'A',
 'G',
 'A',
 'C',
 'T',
 'T',
 'T',
 'G',
 'C',
 'G',
 'G',
 'A',
 'G',
 'T',
 'C',
 'C',
 'G',
 'G',
 'G',
 'C',
 'A',
 'G',
 'G',
 'T',
 'C',
 'T',
 'A',
 'C',
 'T',
 'T',
 'T',
 'G',
 'G',
 'A',
 'G',
 'T',
 'C',
 'A',
 'T',
 'T',
 'G',
 'C',
 'T',
 'C',
 'T',
 'G',
 'T',
 'G',
 'A',
 'A',
 'G',
 'A']

In [79]:
set(tnfa_list)

{'A', 'C', 'G', 'T'}

# 실습
* 위 정보들을 이용해 A, C, G, T가 몇개 들어있는지 알 수 있는 데이터 프레임을 만들자

In [105]:
tnfa_a = 0
tnfa_c = 0
tnfa_g = 0
tnfa_t = 0


for i in range (936):
    if tnfa_list[i] == 'A':
        tnfa_a += 1
        
    elif tnfa_list[i] == 'C':
        tnfa_c += 1
        
    elif tnfa_list[i] == 'G':
        tnfa_g += 1
        
    else:
        tnfa_t += 1
    
print("A: ", tnfa_a)
print("C: ", tnfa_c)
print("G: ", tnfa_g)
print("T: ", tnfa_t)

A:  213
C:  272
G:  246
T:  205

In [106]:
len(tnfa_list)

936

In [107]:
tnfa_num = pd.DataFrame({'A':[213], 'C':[272], 'G':[246], 'T':[205]})

In [108]:
tnfa_num

     A    C    G    T
0  213  272  246  205

In [95]:
print(tnfa_list.count('A'))
print(tnfa_list.count('C'))
print(tnfa_list.count('G'))
print(tnfa_list.count('T'))

213
272
246
205

In [96]:
list_dict = {'type': ['A', 'C', 'G', 'T'], 'value': [0, 0, 0, 0]}

for c in range(4):
    list_dict['value'][c] += (tnfa_list.count(list_dict['type'][c]))

In [97]:
list_dict

{'type': ['A', 'C', 'G', 'T'], 'value': [213, 272, 246, 205]}

In [99]:
tnfa_df = pd.DataFrame.from_dict(list_dict)

In [100]:
tnfa_df

  type  value
0    A    213
1    C    272
2    G    246
3    T    205

In [101]:
tnfa_df['value'][1]

272

In [102]:
tnfa_df.loc[1, 'value']

272

In [103]:
tnfa_df.iloc[1, 1]

272

---
# 과제
* WT1 WT2 기타 columns 항목을 모두 더해서 calc column 을 새로 만들어 결과값을 저장한다
* 단, 계산은 row 방향으로 루프하며 진행한다
* 위 코드를 만든 뒤 다른 계산 법을 이용하여 같은 결과를 도출해보자

In [125]:
import pandas as pd
df = pd.read_excel("C:/Users/user/Downloads/RNAseq_result.xlsx")

In [126]:
df

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6
0,0,ENSMUST00000177564.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,ENSMUST00000196221.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,ENSMUST00000179664.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,ENSMUST00000178537.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,ENSMUST00000178862.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
109277,109277,ENSMUST00000181902.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109278,109278,ENSMUST00000181878.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109279,109279,ENSMUST00000201504.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109280,109280,ENSMUST00000200975.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109281,109281,ENSMUST00000202689.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [128]:
df['calc'] = 0

for i in df.index:
    df.loc[i, 'calc'] = df.loc[i][2:].sum()

In [129]:
df.tail(30)

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6,calc
109252,109252,ENSMUST00000187981.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109253,109253,ENSMUST00000169610.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109254,109254,ENSMUST00000203478.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109255,109255,ENSMUST00000180736.2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109256,109256,ENSMUST00000194725.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109257,109257,ENSMUST00000191184.2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109258,109258,ENSMUST00000191957.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109259,109259,ENSMUST00000194983.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109260,109260,ENSMUST00000193068.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109261,109261,ENSMUST00000181583.3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109262,109262,ENSMUST00000181459.2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109263,109263,ENSMUST00000201472.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109264,109264,ENSMUST00000203119.1,0.391729,0.366172,1.107410,1.084320,0.914316,0.106279,0.122030,0.115507,0.571306,4.779069
109265,109265,ENSMUST00000202716.1,0.000000,0.000000,0.000000,0.073928,0.000000,0.000000,0.000000,0.000000,0.000000,0.073928
109266,109266,ENSMUST00000180724.2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109267,109267,ENSMUST00000201731.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109268,109268,ENSMUST00000201265.1,0.000000,0.000000,0.346987,0.000000,0.000000,0.000000,0.454928,0.000000,0.023695,0.825610
109269,109269,ENSMUST00000215012.1,0.000000,0.000000,0.000000,1.421800,0.000000,0.000000,0.000000,0.000000,0.000000,1.421800
109270,109270,ENSMUST00000201986.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109271,109271,ENSMUST00000215596.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109272,109272,ENSMUST00000202219.1,0.000000,0.000000,0.000000,0.000000,0.019346,0.006759,0.000000,0.000000,0.000000,0.026104
109273,109273,ENSMUST00000200997.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109274,109274,ENSMUST00000202014.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109275,109275,ENSMUST00000195861.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109276,109276,ENSMUST00000200809.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109277,109277,ENSMUST00000181902.2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109278,109278,ENSMUST00000181878.2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109279,109279,ENSMUST00000201504.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109280,109280,ENSMUST00000200975.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109281,109281,ENSMUST00000202689.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [130]:
df['calc2'] = df.T.iloc[2:-1].sum()

In [131]:
df.tail(30)

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6,calc,calc2
109252,109252,ENSMUST00000187981.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
109253,109253,ENSMUST00000169610.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
109254,109254,ENSMUST00000203478.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
109255,109255,ENSMUST00000180736.2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
109256,109256,ENSMUST00000194725.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
109257,109257,ENSMUST00000191184.2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
109258,109258,ENSMUST00000191957.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
109259,109259,ENSMUST00000194983.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
109260,109260,ENSMUST00000193068.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
109261,109261,ENSMUST00000181583.3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
109262,109262,ENSMUST00000181459.2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
109263,109263,ENSMUST00000201472.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
109264,109264,ENSMUST00000203119.1,0.391729,0.366172,1.107410,1.084320,0.914316,0.106279,0.122030,0.115507,0.571306,4.779069,4.779069
109265,109265,ENSMUST00000202716.1,0.000000,0.000000,0.000000,0.073928,0.000000,0.000000,0.000000,0.000000,0.000000,0.073928,0.073928
109266,109266,ENSMUST00000180724.2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
109267,109267,ENSMUST00000201731.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
109268,109268,ENSMUST00000201265.1,0.000000,0.000000,0.346987,0.000000,0.000000,0.000000,0.454928,0.000000,0.023695,0.825610,0.82561
109269,109269,ENSMUST00000215012.1,0.000000,0.000000,0.000000,1.421800,0.000000,0.000000,0.000000,0.000000,0.000000,1.421800,1.4218
109270,109270,ENSMUST00000201986.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
109271,109271,ENSMUST00000215596.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
109272,109272,ENSMUST00000202219.1,0.000000,0.000000,0.000000,0.000000,0.019346,0.006759,0.000000,0.000000,0.000000,0.026104,0.026104
109273,109273,ENSMUST00000200997.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
109274,109274,ENSMUST00000202014.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
109275,109275,ENSMUST00000195861.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
109276,109276,ENSMUST00000200809.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
109277,109277,ENSMUST00000181902.2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
109278,109278,ENSMUST00000181878.2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
109279,109279,ENSMUST00000201504.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
109280,109280,ENSMUST00000200975.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
109281,109281,ENSMUST00000202689.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0